<h2>Dobrodošli</h2>
<div class="box">
    <p>Ovo je demo aplikacija za XSS i Broken Access Control.</p>
    <p>Možete isprobati različite napade i vidjeti kako aplikacija reagira.</p>
    <p>Kako biste isprobali ranjivosti prvo se ulogirajte, odlaskom na tab Login</p>
</div>